mainmenu "SIOT library"

config LIB_SIOT
	bool "Enable the JSON codec"
	select JSON_LIBRARY
	select THREAD_MONITOR
	select THREAD_RUNTIME_STATS
	select ZBUS
	select ZBUS_RUNTIME_OBSERVERS
	select ZBUS_MSG_SUBSCRIBER
	select FLASH
	select FLASH_PAGE_LAYOUT
	select ZMS

if LIB_SIOT

config SIOT_LOG_LEVEL
	int "Default log level for SIOT"
	default 4
	help
		The default log level, which is used to filter log messages.

		0: None
		1: Error
		2: Warn
		3: Info
		4: Debug
		5: Verbose

config NVS_EVENT_QUEUE_SIZE
	int "NVS Event Queue Size"
	default 10
	help
		Defines the size of persisted events in the event history thread

config RAM_EVENT_QUEUE_SIZE
	int "RAM Event Queue Size"
	default 20
	help
		Defines the size of volatile events in the event history thread

config EVENTS_ENABLED
	bool "Enable events thread"
	default y
	help
		Enable the events history thread in the mylib module.

endif # LIB_SIOT
