/*
 * Copyright (c) 2022 Grant Ramsay <grant.ramsay@hotmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>

&eth {
	status = "okay";
};

&phy {
	status = "okay";
};

&mdio {
	status = "okay";
};



&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

	mcp23018_20: mcp23018@20 {
        compatible = "microchip,mcp23018";
        reg = < 0x20 >;
        gpio-controller;
        ngpios = < 16 >;
        #gpio-cells = < 2 >;
    };

	mcp23018_21: mcp23018@21 {
        compatible = "microchip,mcp23018";
        reg = < 0x21 >;
        gpio-controller;
        ngpios = < 16 >;
        #gpio-cells = < 2 >;
    };
	
	mcp23018_22: mcp23018@22 {
        compatible = "microchip,mcp23018";
        reg = < 0x22 >;
        gpio-controller;
        ngpios = < 16 >;
        #gpio-cells = < 2 >;
    };

	ds2484: ds2484@18 {
        compatible = "maxim,ds2484";
        reg = <0x18>;
        status = "okay";

		ds18b20 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
			status = "okay";
		};
    };

	m24512: m24512@50 {
        compatible = "atmel,at24";
        reg = <0x50>;
        size = <DT_SIZE_K(512)>;
        pagesize = <64>;
        address-width = <16>;
        timeout = <125>;
    };

	 rv3028: rv3028@52 {
        compatible = "microcrystal,rv3028";
        reg = <0x52>;
		backup-switch-mode = "direct";
		trickle-resistor-ohms = <3000>;
    };
};

&uart0 {
    status = "okay";
};

&uart1 {
    status = "okay";
};

&esp32_bt_hci {
    status = "okay";
};

/ {
    zbuttons:zbuttons {
        compatible = "gpio-keys";
        user_button: button {
            gpios = <&gpio1 2 (GPIO_ACTIVE_LOW)>;
			label = "User Button";
            zephyr,code = <INPUT_KEY_0>;
        };

	chosen {
        zephyr,bt-c2h-uart = &uart1;
    };
};


