CONFIG_NET_L2_ETHERNET=y
# CONFIG_NET_IPV6 is not set
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_GPIO=y
CONFIG_CONSOLE=y
CONFIG_THREAD_RUNTIME_STATS=y
CONFIG_UART_CONSOLE=y
CONFIG_DAC=y
CONFIG_DAC_SHELL=y
CONFIG_LOG_CMDS=y
# CONFIG_LOG_MEM_UTILIZATION is not set
